body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #faf9f6;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

p {
  font-size: 20px;
}
h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
button {
  background: linear-gradient(135deg, #e7ad0e, #c87202);
  color: white;
  font-size: large;
  border: none;
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;
}

/* BACKGROUND HERO  */
#background {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-image: url("../assets/Images/mother2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
}

#background::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 0;
}

@keyframes softGlow {
  0% {
    opacity: 0;
    transform: translateY(30px);
    color: #e6ac7a;
    text-shadow: 0 0 0 rgba(255, 163, 90, 0.4);
  }
  50% {
    opacity: 1;
    transform: translateY(0px);
    text-shadow: 0 0 18px rgba(255, 163, 90, 0.7);
  }
  100% {
    text-shadow: 0 0 0 rgba(255, 163, 90, 0.4);
  }
}

#background p {
  position: relative;
  text-align: center;
  z-index: 1;
  max-width: 900px;
  margin: auto;
  font-size: 2rem;
  line-height: 1.4;
}
#background h1 {
  position: relative;
  text-align: center;
  z-index: 1;
  max-width: 900px;
  margin: auto;
  font-size: 60px;
  line-height: 1.4;
  padding-bottom: 40px;
  animation: softGlow 3s ease-in-out;
}

#background .button-group {
  position: relative;
  text-align: center;
  z-index: 1;
  max-width: 600px;
  margin: 50px auto;
  font-size: 2rem;
  line-height: 1.4;
  justify-content: center;
  gap: 30px;
}

.btn {
  display: flex;
  padding: 12px 50px;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}
.involved {
  background: #dca203;
  color: white;
}
.learn {
  background: white;
  color: black;
}
.involved:hover {
  background-color: #c17b03;
}
.learn:hover {
  background-color: #dddcdc;
}

a {
  text-decoration: none;
}

/* -MISSION SECTION */
#mission {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 60px 10vw;
  margin: 0 auto;
  gap: 50px;
}

#para {
  max-width: 600px;
  color: rgb(65, 61, 61);
  font-size: 1rem;
}
#para .one {
  font-size: 2rem;
  color: black;
  font-weight: bold;
  margin-bottom: 10px;
}
.overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 8, 5, 0.468); /* dark effect */
}
#para ul {
  padding-left: 20px;
}
#para ul li {
  margin-bottom: 10px;
  line-height: 1.4;
}

#para-image img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

/*  CORE VALUES */
#cores {
  background-color: #f9f4ef;
  padding: 50px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

#core-head {
  text-align: center;
  padding-bottom: 1vw;
}

#core-values {
  padding-bottom: 100px;
  width: 90%;
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3vw;
}

.core-value-one,
.core-value-two,
.core-value-three {
  background: linear-gradient(135deg, #fefdf6, #ede9db);
  padding: 2vw;
  color: #663300;
  border-radius: 15px;
}

/*  DIFFERENCE SECTION */
#difference-section {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 60px 5vw;
  background: linear-gradient(135deg, #d08709, #5c90ba);
  color: white;
  flex-wrap: wrap;
}

#diff-head,
#range {
  max-width: 450px;
  background: rgba(255, 255, 255, 0.15);
  padding: 40px;
  border-radius: 20px;
}

.button-group {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.donate-btn {
  padding: 12px 20px;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.one-time {
  background: white;
  color: black;
}
.monthly {
  background: #dca203;
  color: white;
}
.one-time:hover {
  background-color: #dddcdc;
}
.monthly:hover {
  background-color: #c17b03;
}

/* Styling for ALL Range Inputs with class="donation-range" */
.donation-range {
  appearance: none;
  max-width: 130px;
  width: 40%;
  height: 6px;
  background: transparent;
  margin: 10px 0;
  cursor: pointer;
}
#educationRange {
  --track-fill-percentage: 45%;
}
#eatingRange {
  --track-fill-percentage: 30%;
}
#operationsRange {
  --track-fill-percentage: 25%;
}

.donation-range::-webkit-slider-runnable-track {
  height: 6px;
  background: linear-gradient(
    to right,
    #0464b3 var(--track-fill-percentage),
    #dcdbdb var(--track-fill-percentage)
  );
  border-radius: 3px;
}

/* Thumb Styling */
.donation-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin-top: -5px;
}
.donation-range:disabled::-webkit-slider-thumb {
  background: #064fa1;
  cursor: not-allowed;
}

.css-slider-section {
  padding: 4rem 2rem;
  text-align: center;
}

.css-slider {
  width: 100%;
  max-width: 500px;
  margin: auto;
  position: relative;
  overflow: hidden;
  height: 360px;
}

/* SLIDE STYLE */
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  padding: 1.6rem 1.5rem;
  background: #f7e5be;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(255, 255, 255, 0.1);
  animation: fade 16s infinite;
}

.slide img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #333;
}

/* STAR RATING */
.stars {
  color: gold;
  font-size: 1.4rem;
  margin-top: 0.6rem;
}

/* TEXT */
.slide p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 0.8rem;
  padding: 0 40px;
}

/* ANIMATION TIMING FOR 4 SLIDES */
.slide:nth-child(1) {
  animation-delay: 0s;
}
.slide:nth-child(2) {
  animation-delay: 4s;
}
.slide:nth-child(3) {
  animation-delay: 8s;
}
.slide:nth-child(4) {
  animation-delay: 12s;
}

/* FADE ANIMATION */
@keyframes fade {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  5% {
    opacity: 1;
    transform: translateX(0);
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* TABLET */
@media (max-width: 900px) {
  header h1 {
    margin: 10px;
  }
  #background {
    height: 400px;
  }
  #background p {
    font-size: 1.8rem;
  }

  #mission {
    grid-template-columns: 1fr;
    text-align: center;
  }
  #para ul {
    margin: auto;
    width: 90%;
    text-align: left;
  }
  #para-image img {
    max-width: 80%;
    margin: auto;
  }

  #core-values {
    grid-template-columns: 1fr;
    gap: 4vw;
  }

  #difference-section {
    flex-direction: column;
    text-align: center;
  }
  #diff-head,
  #range {
    max-width: 90%;
  }

  #footer-container div {
    max-width: 180px;
  }
}

@media (max-width: 600px) {
  #donate {
    margin-top: 5px;
  }

  #background .button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    gap: 15px;
  }

  #diff-head,
  #range {
    padding: 30px;
  }
  .donate-btn {
    width: 70%;
  }

  #background {
    height: 400px;
    padding: 80px 0px;
  }
  #background h1 {
    font-size: 40px;
    padding-bottom: 30px;
  }
  #background p {
    max-width: 380px;
    font-size: 1.4rem;
  }
  #mission {
    padding: 40px 5vw;
  }
  #para .one {
    font-size: 1.7rem;
  }
  #para-image img {
    max-width: 100%;
  }
  .css-slider {
    height: 380px;
  }
  #footer {
    padding-top: 10px;
  }
  #footer-container {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
  }
  #footer-copy {
    text-align: center;
  }
  #footer-container div {
    max-width: 250px;
  }
}

@media (max-width: 400px) {
  header {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
  .navbar ul {
    flex-direction: row;
    gap: 1px;
  }
  #background h1 {
    font-size: 35px;
  }

  #background {
    height: 350px;
    padding: 60px 0px;
  }
  #background p {
    font-size: 1.2rem;
    padding: 0 10px;
  }
  .donate-btn {
    width: 100%;
  }
}
