/* GLOBAL RESET  */
body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #faf9f6;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

p {
  font-size: 20px;
}
h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
button {
  background: linear-gradient(135deg, #e7ad0e, #c87202);
  color: white;
  font-size: large;
  border: none;
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;
}

/* BACKGROUND HERO  */
#background {
  position: relative;
  padding: 120px 0px;
  background-image: url("../assets/Images/mother2.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 100%;
  color: white;
}

#background::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 0;
}

@keyframes softGlow {
  0% {
    opacity: 0;
    transform: translateY(30px);
    color: #e6ac7a;
    text-shadow: 0 0 0 rgba(255, 163, 90, 0.4);
  }
  50% {
    opacity: 1;
    transform: translateY(0px);
    text-shadow: 0 0 18px rgba(255, 163, 90, 0.7);
  }
  100% {
    text-shadow: 0 0 0 rgba(255, 163, 90, 0.4);
  }
}

#background h1 {
  position: relative;
  text-align: center;
  z-index: 1;
  max-width: 900px;
  margin: auto;
  font-size: 60px;
  line-height: 1.4;
  padding-bottom: 40px;
  animation: softGlow 3s ease-in-out;
}

#background p {
  position: relative;
  text-align: center;
  z-index: 1;
  max-width: 900px;
  margin: auto;
  font-size: 2rem;
  line-height: 1.4;
  color: rgb(194, 194, 191);
}

#background .button-group {
  position: relative;
  text-align: center;
  z-index: 1;
  max-width: 600px;
  margin: 50px auto;
  font-size: 2rem;
  line-height: 1.4;
  justify-content: center;
  gap: 30px;
}

.btn {
  display: flex;
  padding: 12px 50px;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}
.involved {
  background: #dca203;
  color: white;
}
.learn {
  background: white;
  color: black;
}
.involved:hover {
  background-color: #c17b03;
}
.learn:hover {
  background-color: #dddcdc;
}

a {
  text-decoration: none;
}

/* -MISSION SECTION */
#mission {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  padding: 60px 30px;
  margin: 0 auto;
  gap: 50px;
}

#para {
  max-width: 600px;
  color: rgb(65, 61, 61);
  font-size: 1.1rem;
}
#para .one {
  font-size: 2rem;
  color: black;
  font-weight: bold;
  margin-bottom: 10px;
}

#para ul {
  padding-left: 20px;
}
#para ul li {
  margin-bottom: 10px;
  line-height: 1.4;
}

#para-image img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

/*  CORE VALUES - OUR PROGRAMS */
#cores {
  background-color: #f9f4ef;
  padding: 50px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 50px auto;
  width: 80%;
}

#core-head {
  text-align: center;
  padding-bottom: 2rem;
}

#core-head h2 {
  font-size: 2.5rem;
  color: #663300;
  margin-bottom: 1rem;
}

#core-head p {
  font-size: 1.2rem;
  color: #666666;
}

#core-values {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 10px;
  padding: 0 1rem;
}

.core-value-one,
.core-value-two,
.core-value-three {
  background: linear-gradient(135deg, #fefdf6, #ede9db);
  padding: 2rem;
  color: #663300;
  border-radius: 15px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  align-items: center;
  max-width: 350px;
}

.core-value-one i,
.core-value-two i,
.core-value-three i {
  font-size: 1.8rem;
  color: #e7ad0e;
  margin-bottom: 1rem;
}

.core-value-one h3,
.core-value-two h3,
.core-value-three h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: #663300;
}

/*  DIFFERENCE SECTION */
#difference-section {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 60px 5vw;
  background: linear-gradient(135deg, #d08709, #5c90ba);
  color: white;
  flex-wrap: wrap;
  margin: 50px 0;
  text-align: left;
}

#diff-head {
  max-width: 500px;
  background: rgba(255, 255, 255, 0.15);
  padding: 40px;
  border-radius: 20px;
}

#difference-section h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: white;
}

#diff-head p {
  font-size: 1.15rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  color: white;
}

#range {
  max-width: 450px;
  background: rgba(255, 255, 255, 0.15);
  padding: 40px;
  border-radius: 20px;
}

#range h2 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: white;
}

.button-group {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.donate-btn {
  padding: 12px 20px;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  background: linear-gradient(135deg, #e7ad0e, #c87202)!important;
  color: white !important;
}

.one-time {
  background: white !important;
  color: black !important;
}
.monthly {
  background: #dca203 !important;
  color: white !important;
}
.one-time:hover {
  background-color: #dddcdc !important;
}
.monthly:hover {
  background-color: #c17b03 !important;
}

/* Styling for ALL Range Inputs with class="donation-range" */
.donation-range {
    appearance: none;
    max-width: 130px;
    width: 40%; 
    height: 1px; 
    background: transparent; 
    margin: 10px 0; 
    cursor: pointer; 
}
#educationRange {
    --track-fill-percentage: 45%;
}
#eatingRange {
    --track-fill-percentage: 30%;
}
#operationsRange {
    --track-fill-percentage: 25%;
}

.donation-range::-webkit-slider-runnable-track {
    height: 6px;
    background: linear-gradient(to right, #0464b3 var(--track-fill-percentage), #dcdbdb var(--track-fill-percentage));
    border-radius: 3px;
}

/* Thumb Styling */
.donation-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    margin-top: -5px; 
}
.donation-range:disabled::-webkit-slider-thumb {
    background: #064fa1; 
    cursor: not-allowed;
}

.sec form

.css-slider-section {
    padding: 4rem 2rem;
    text-align: center;
}

.css-slider {
    width: 100%;
    max-width: 500px;
    margin: auto;
    position: relative;
    overflow: hidden;
    height: 360px;
}

/* SLIDE STYLE */
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    padding: 1.6rem 1.5rem;
    background: #f7e5be;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.1);
    animation: fade 28s infinite;
}

.slide img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #333;
}

/* STAR RATING */
.stars {
    color: gold;
    font-size: 1.4rem;
    margin-top: 0.6rem;
}

/* TEXT */
.slide p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 0.8rem;
    padding: 0 40px;
}

/* ANIMATION TIMING FOR 4 SLIDES */
.slide:nth-child(1) { animation-delay: 0s; }
.slide:nth-child(2) { animation-delay: 7s; }
.slide:nth-child(3) { animation-delay: 14s; }
.slide:nth-child(4) { animation-delay: 21s; }

/* FADE ANIMATION */
@keyframes fade {
    0%   { opacity: 0; transform: translateX(20px); } 
    5%   { opacity: 1; transform: translateX(0); }  
    20%  { opacity: 1; }                             
    25%  { opacity: 0; }                             
    100% { opacity: 0; }               
}

/* FOOTER  */
#footer {
  width: 100%;
  background-color: #333;
  color: white;
  padding-top: 2vw;
  padding-left: 2vw;
  margin-top: 3vw;
  height: auto;
  max-height: 100vh;
}
#footer-container {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  gap: 1vw;
}

#footer i {
  color: #ffae7f;
  margin-right: 8px;
}

#foot-intro {
  max-width: 250px;
}
#footer-copy {
  grid-column: span 3;
  text-align: center;
  margin: 50px auto 20px;
}
#footer p {
  color: white;
  font-size: medium;
}
#footer h3 {
  font-weight: bold;
}

/* TABLET */
@media (max-width: 900px) {
  header h1 {
    margin: 10px;
  }
  #background {
    height: 400px;
  }
  #background p {
    font-size: 1.8rem;
  }

  #mission {
    grid-template-columns: 1fr;
    text-align: center;
  }
  #para ul {
    margin: auto;
    width: 90%;
    text-align: left;
  }
  #para-image img {
    max-width: 80%;
    margin: auto;
  }

  #core-values {
    grid-template-columns: 1fr;
    gap: 4vw;
  }

  #difference-section {
    flex-direction: column;
    text-align: center;
  }
  #diff-head,
  #range {
    max-width: 90%;
  }
  
  #footer-container div {
  max-width: 180px;
}
}

@media (max-width: 600px) {
  #donate {
    margin-top: 5px;
  }

#background .button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  gap: 15px;
}

  #diff-head,
  #range {
    padding: 30px;
  }
  .donate-btn {
    width: 70%;
  }

  #background {
    height: 400px;
    padding: 80px 0px;
  }
  #background h1 {
  font-size: 40px;
  padding-bottom: 30px;
}
  #background p {
    max-width: 380px;
    font-size: 1.4rem;
  }
  #mission {
    padding: 40px 5vw;
  }
  #para .one {
    font-size: 1.7rem;
  }
  #para-image img {
    max-width: 100%;
  }
  .css-slider {
        height: 380px;
    }
  #footer {
    padding-top: 10px;
  }
  #footer-container {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
  }
  #footer-copy {
    text-align: center;
  }
  #footer-container div {
  max-width: 250px;
}
}

@media (max-width: 400px) {
  header {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
  .navbar ul {
    flex-direction: row;
    gap: 1px;
  }
  #background h1 {
    font-size: 35px;
  }

  #background {
    height: 350px;
    padding: 60px 0px;
  }
  #background p {
    font-size: 1.2rem;
    padding: 0 10px;
  }
  .donate-btn {
    width: 100%;
  }
}
